<table>
	<% Skill.all.each do|skill| %>
		<tr>
			<td><%= check_box_tag 'skill_set[skill_ids][]', skill.id, has_skill?(skill, @skill_set.skills) %></td>
			<td><%= skill.name %></td>
		</tr>
	<% end %>
</table>

